.number {
    width: 50px;
    display: flex;
    border:5px solid rgba(0,0,0,0.5);
    color: #fff;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 1rem;
}
.card{
    background-color: rgba(0,0,0,0.2);
}  
.list-nominal{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.nominal{
    position: relative;
    flex:none;
}
.label-nominal{
    width:100%;
    display: flex;
    text-align: center;
    line-height: .8rem;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding:.85rem;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1rem;
    border:1px solid #0a1931;
    background-color: #fff;
    color:#1f1f1f;
}
.nominal input[type="radio"]{
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.nominal input[type="radio"]:checked + .label-nominal{
    background-color: #e6f0ff;
    color:#1a375f;
    border:1px solid #2a528a;
}
.list-payment{
    display: flex;
    flex-direction: column;
}
.payment{
    position: relative;
    margin-top: .8rem;
}
.payment:first-child{
    margin-top: 0;
}
.label-payment{
    position: relative;
    padding:.85rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-weight: 600;
    border-radius: 1rem;
    border:1px solid #0a1931;
    background-color: #fff;
    color:#1f1f1f;
}
.img-payment{
    width: 100px;
    height: auto;
    object-fit: cover;
}
.title-payment{
    font-size: 14px;
    color:#7c7c7c;
    font-weight: bold;
}
.payment input[type="radio"]{
    display: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.payment input[type="radio"]:checked + .label-payment .title-payment{
    color:#556e91;
}
.payment input[type="radio"]:checked + .label-payment{
    background-color: #e6f0ff;
    color:#1a375f;
    border:1px solid #2a528a;
}
.label-payment .check-payment{
    display: none;
}
.payment input[type="radio"]:checked + .label-payment .check-payment{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 15px 0px;
    padding:5px 10px;
    font-size: 12px;
    background:#2a528a;
}
